<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="fi.jesunmaailma.tvapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.TVApp">
        <activity
            android:name=".ui.activities.Settings"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:label="@string/title_activity_settings"
            android:theme="@style/Theme.TVApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Login"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.TVApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.activities.RegisterActivity"
            android:exported="true"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.TVApp.NoActionBar" />
        <activity
            android:name=".ui.activities.CategoryDetails"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.TVApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Categories"
            android:configChanges="screenSize|orientation|layoutDirection"
            android:theme="@style/Theme.TVApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.activities.Details"
            android:configChanges="screenSize|layoutDirection|orientation|keyboardHidden"
            android:theme="@style/Theme.TVApp.NoActionBar"
            android:exported="true" />
        <activity
            android:name=".ui.activities.SplashActivity"
            android:configChanges="screenSize|layoutDirection|orientation"
            android:exported="true"
            android:theme="@style/Theme.TVApp.SplashScreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter
                android:icon="@mipmap/ic_launcher"
                android:label="@string/app_name">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:path="/teeveet"
                    android:host="finnplace.ml"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.activities.MainActivity"
            android:configChanges="screenSize|layoutDirection|orientation"
            android:exported="true"
            android:theme="@style/Theme.TVApp.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesMenuActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.TVApp" />
        <activity
            android:name="com.google.android.gms.oss.licenses.OssLicensesActivity"
            android:configChanges="orientation|screenSize|layoutDirection"
            android:theme="@style/Theme.TVApp" />

        <service android:name=".services.TeeveetFirebaseMessagingService"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>